﻿@model List<Task23_Advanced.Models.DividedArticlesViewModel>
@using Task23_Advanced.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "";
    ViewBag.Title = "Main page of library";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Main.css" />
    <script type="text/javascript">
        function myFunction(id) {
            var dots = document.getElementById("dots".concat(id));
            var moreText = document.getElementById(id);
            var btnText = document.getElementById("ReadMore".concat(id));

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
</head>
<body>
    @{
        List<TagsViewModel> tags = ViewBag.Tags;
    }
    <div class="navbar navbar-dark bg-dark ">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Main")">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Guest")">Guest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Questionnaire")">Questionnaire</a>
            </li>

        </ul>
    </div>


    <div class="d-flex justify-content-end">
        <button class="btn bg-danger btn-lg" data-bs-target="#login" data-bs-toggle="modal" id="add-tags">Add tags to articles</button>
    </div>
    @using (Html.BeginForm("AddTag", "Main", FormMethod.Post))
    {
        <div class="modal" id="login" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Add tags</h2>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <p>Select Article Number</p>
                        </div>
                        <div class="d-flex justify-content-center">

                            @Html.DropDownList("Articles", new SelectList(Model.Select(i => i.Id), "Id"), new { @class = "form-control" })
                        </div>
                        <div class="d-flex justify-content-center">
                            <p>Select Existing Tag or Pass a New One</p>
                        </div>
                        <div class="d-flex justify-content-center">

                            <select class="form-control" id="Tags" name="Tags">
                                <option value="">Select Existing Tag</option>
                                @foreach (var tag in tags)
                                {
                                    <option>@(tag.Name)</option>
                                }
                            </select>
                        </div>
                        <div class="d-flex justify-content-center">

                            <input class="form-control" id="TagName" name="TagName" type="text" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-bs-dismiss="modal">Add Tags</button>
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    }
    @foreach (var item in Model)
    {
        foreach (var tag in item.Tags)
        {
            <a href=@Url.Action("ArticlesByTag", "Main", new { tagName = tag.Name })>#@(tag.Name)</a>}
        <article>
            <h2> @(item.Id).@Html.DisplayFor(modelItem => item.AuthorName)</h2>
            <h3>@Html.DisplayFor(modelItem => item.Date)</h3>
        </article>
        <p>
            @Html.DisplayFor(modelItem => item.LessContent)<span id="dots@(item.Id)">...</span>
            <span class="more-content" id="@(item.Id)">
                @Html.DisplayFor(modelItem => item.MoreContent)
            </span>
        </p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-dark btn-lg" onclick="myFunction(@(item.Id))" id="ReadMore@(item.Id)">Read more</button>
        </div>
    }
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/articlescript.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/script.js")

    @Scripts.Render("~/Scripts/bootstrap.js")
</body>
</html>

