﻿html, body {
    margin: 0px;
    padding: 0px;
}
.more-content {
    display: none;
}
.form-control{
    margin-right:10px;
}
#TagName{
    margin-top:10px;
}
a {
    font-size: 20px;
}
button {
    margin-right: 10px !important;
}
#add-tags {
    color: aliceblue;
    margin-top: 10px;
    margin-right: 10px;
}
form {
    margin-top: 30px;
}
p {
    font-size:24px;
    text-align:left;
}
h3 {
    color:gray
}
.pagination-container {
    display:flex;
    justify-content:center;
}
.sort-link {
    font-size:24px;
    color:black;
    border:solid;
    padding:10px;
    text-decoration:none;
}